<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
   {{>navbar}}
   {{!--hero section start--}}
   <div class="container-fluid mt-5">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <div class="row">
           <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
             <h1>We will help you to </h1>
             <h1>Grow your data science knowledge</h1>
             <p>We are the team of <span class="bold-style"> Gla Professional Developers </span></p>
             <button class="btn-style btn-primary">Read more</button>
           </div>
            {{!--right side --}}
           <div class="col-md-6 col-12 hero-text order-md-1 order-0">
             <figure>
               <img src="/image/about.svg" alt="" srcset="">
             </figure>
           </div> 
         </div>
         
       </div>
     </div>
   </div>
   {{!--hero section end--}}

   {{!--about section start--}}
   <div class="container-fluid mt-5 about-style " id="aboutid">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <h1 class="text-center main-heading">About Us</h1>
         <p class="text-center sub-heading">grow your bussiness with us</p>
         <div class="row">
           <div class="col-md-6 col-12 hero-text ">
             <figure>
               <img src="/image/profassional.jfif" alt="" srcset="">
             </figure>
           </div> 
          {{!--right side --}}
           <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
             <h1>We Are the professional developer</h1>
             <h1>Grow your data science knowledge</h1>
             <p>Welcome to <span></span></p>
             <button class="btn-style btn-primary">Read more</button>
           </div>
            
           
         </div>
         
       </div>
     </div>
   </div>
   {{!--about section end--}}
   <script src="../jq/jquery.js" type="text/javascript"></script>
   <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>
</html>